*.js
!.eslintrc.js
!jest.config.js
!commitlint.config.js
!jest.integration.config.js
!jest.unit.config.js
!jest.setup.js
*.d.ts
node_modules/
coverage/

# CDK asset staging directory
.cdk.staging
cdk.out
.env
.yarn/install-state.gz
